.contenubody{
  background-color: #ffffff;
}

.button-container{
  display: flex;
  justify-content: center;
}
#button{

}

.details{
 background-color:#ffffff;
 border-radius: 10px;
 padding:10px;
}

.card {
  border: none;
  border-radius: 10px;
  margin-top: 20px;
}

h1{
 font-size: 18px;
 text-align: center;
 margin-right:10px
}

h6{
  font-size: 20px;
  text-align: center;

 }

.lib_{
 display: flex;
 align-items: center;
 }


 .libe{
  margin-top: 10px;
}

.map-container{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
}
.map-container iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}

.video-overlay {
  position: relative;
  overflow-y: hidden!important;
}

.overlay {
  position: absolute;
  top: 04em;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 20px;
}

.overlay h2 {
  font-size: 24px;
}

.overlay p {
  font-size: 16px;
}


.video{
  position: relative;
  top: 04em;
  left: 0;
  width: 100%;
  height: 100%;

}

.transparent-div {
  position: relative;
  top: 1em;
  background-color: rgba(0, 0, 0, 0.5); /* Remplacez les valeurs par celles de votre choix */
  height: 80px; /* Réglez la valeur selon vos besoins */
}


